.box {
  width: 100px;
  height: 100px;
  border: 1px solid rebeccapurple;
}
.outer {
  background-color: saddlebrown;
}

.inner {
  background-color: indianred;
  transform: scale(0.5);
  transform: rotate(45deg);
}
