.photo-album {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: cyan;
  overflow: hidden;
}
.photo {
  width: 200px;
  height: 200px;
  background: #ddd;
  border-radius: 10px;
}
.photo-detail {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  padding: 10px;
  display: none;
}

.photo-album:hover .photo-detail {
  display: block;
}

.photo-album:hover .photo {
  transform: scale(1.2);
  transition: transform 2s ease;
}
